@model IEnumerable<fa22LBT.Models.BankAccount>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer Home</h1>

<p>
    <a asp-action="Create" class="btn">Create New Bank Account</a>
    <a asp-action="Create" asp-controller="StockPortfolios" class="btn">Apply for Stock Portfolio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HiddenAccountNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AccountID">Edit Name</a> |
                @if (item.AccountType == AccountTypes.StockPortfolio)
{
<a asp-controller="StockPortfolios" asp-action="Details" asp-route-id="@item.StockPortfolio.AccountID">Details</a>
}
else
{
<a asp-action="Details" asp-route-id="@item.AccountID">Details</a>
}
                
            </td>
        </tr>
}
    </tbody>
</table>
