@model IEnumerable<fa22LBT.Models.StockPortfolio>

@{
    ViewData["Title"] = "Index";
}

<h1>Approve Portfolios</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBalanced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBalanced)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
                @if (item.IsApproved == false)
{
<a asp-controller="StockPortfolios" asp-action="Approve" asp-route-id="@item.AccountID">Approve</a>
}
            </td>
        </tr>
}
    </tbody>
</table>
