@model fa22LBT.Models.StockPortfolio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockPortfolio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CashBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CashBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBalanced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBalanced)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccountID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
