@model fa22LBT.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <a asp-controller="BankAccounts" asp-action="Details" asp-route-id="@Model?.BankAccount.AccountID">Back to Bank Account</a>
</div>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionApproved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromAccount)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Disputes" asp-action="Create" asp-route-id="@Model?.TransactionID">Create Dispute</a>
</div>

<h2>Disputes</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Dispute ID
            </th>
            <th>
                Dispute Status
            </th>
            <th>
                Dispute Amount
            </th>
            <th>
                Dispute Description
            </th>
            <th>
                Admin
            </th>
            <th>
                Admin Comments
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Dispute item in Model.Disputes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisputeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisputeStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorrectAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisputeDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminComments)
                </td>
            </tr>
        }
    </tbody>
</table>