@model fa22LBT.Models.StockTransaction

@{
    ViewData["Title"] = "Transaction Completed";
}

<h1>Transaction Completed</h1>

<div>
    <h4>Your stock purchase has been completed!</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.StockName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.StockName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityShares)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantityShares)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerShare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PricePerShare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InitialValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InitialValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockPortfolio.AccountName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockPortfolio.AccountName)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="StockPortfolios" asp-action="Details" asp-route-id="@Model.StockPortfolio.AccountID">Back to Stock Portfolio</a>
</div>
