@model IEnumerable<fa22LBT.Models.Dispute>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Index" asp-route-all="true">See All</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisputeTransaction.BankAccount.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisputeTransaction.BankAccount.Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisputeTransaction.BankAccount.Customer.PhoneNumber)
            </th>
            <th>
                Transaction Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisputeTransaction.TransactionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisputeTransaction.TransactionAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisputeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisputeStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.DisputeTransaction.BankAccount.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.DisputeTransaction.BankAccount.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => item.DisputeTransaction.BankAccount.Customer.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.DisputeTransaction.TransactionComments)
            </td>
            <td>
                @Html.DisplayFor(model => item.DisputeTransaction.TransactionNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.DisputeTransaction.TransactionAmount)
            </td>
            <td>
                @Html.DisplayFor(model => item.DisputeDescription)
            </td>
            <td>
                @Html.DisplayFor(model => item.CorrectAmount)
            </td>
            <td>
                @Html.DisplayFor(model => item.DisputeStatus)
            </td>
            <td>
                @if (item.DisputeStatus == DisputeStatus.Submitted)
                {
                    <a asp-action="AcceptDispute" asp-route-id="@item.DisputeID">Resolve</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
